<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @admin.first_name %> </h1>
    <p>
      Info : le <%= @user.first_name %> c'est inscrit pour l'événement suivant : <%= @event.title %> !
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>